@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

.App {
/*font-family: 'Titillium Web', sans-serif;*/
font-family: 'Kalam', cursive;
line-height: 2;
color: rgb(38, 38, 38);
background: rgb(175, 175, 175);
padding: 20px;
display: inline-block;
}




